/*container div css*/
.container {
  /*external css and flexbox alignment with compatibility*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;

  /*Internal class css*/
  padding: 10px 10px 10px 10px;
  background-color: rgb(90, 90, 90);
  resize: vertical;
  overflow: auto;
  border: none;
  min-height: 170px;
  max-height: 60vh;
  height: 300px;
}

/*textarea css*/
/*class*/
.jsonArea {
  /*external css and flexbox alignment with compatibility*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: start;
  align-content: flex-start;

  /*Internal class css*/
  outline: none;
  size: fill;
  height: 100%;
  width: 100%;
  resize: none;
  background-color: rgb(228, 228, 228);
  border: none;
  min-height: 100px;
  opacity: 1;
  background-image: none;
  font-family: "Source Code Pro", "Source Sans Pro", sans-serif;
}
.jsonArea:hover {
  background-image: url(json.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.jsonArea:focus {
  background-image: none;
}

/*Scrollbar css*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 90, 90);
}
