/*Css for the bottom and ghost div in the wrapper class*/
.bottomDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  position: -fixed;
  position: fixed;
  left: 0;
  bottom: 0;
  width: -webkit-fill-available;
}

#ghostDiv {
  height: 56px;
  width: -webkit-fill-available;
}
